{% extends 'base.html.twig' %}

{% block title %}GreatArticle index{% endblock %}

{% block body %}
    <h1>GreatArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Thedate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for great_article in great_articles %}
            <tr>
                <td>{{ great_article.id }}</td>
                <td>{{ great_article.titre }}</td>
                <td>{{ great_article.texte }}</td>
                <td>{{ great_article.thedate ? great_article.thedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('great_article_show', {'id': great_article.id}) }}">show</a>
                    <a href="{{ path('great_article_edit', {'id': great_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('great_article_new') }}">Create new</a>
{% endblock %}
