{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your entity at <code><a href="{{ 'src/Entity/GreatArticle.php'|file_link(0) }}">src/Entity/GreatArticle.php</a></code></li>
        <li>Your controller at <code><a href="{{ 'src/Controller/GreatArticleController.php'|file_link(0) }}">src/Controller/GreatArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/great_article/index.html.twig'|file_link(0) }}">templates/great_article/index.html.twig</a></code></li>
        <li>Your repository at <code><a href="{{ 'src/Repository/GreatArticleRepository.php'|file_link(0) }}">src/Repository/GreatArticleRepository.php</a></code></li>
    </ul>
</div>
    <nav>
        <ul>
            <li>Accueil</li>
        </ul>
    </nav>
        {% for item in affiche %}
            <h2>{{item.getTitre}}</h2>
            <p>{{item.getTexte|slice(0, 100)}} <a href="{{ path("voir",{"id":item.getId})}}">... Lire la suite</a></p>
            <p>{{item.getThedate|date('d-m-Y')}}</p><hr>
        {% endfor %}
{% endblock %}
